* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.player {
  width: 90%;
  max-width: 350px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}

.player img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
}

h2 {
  margin-top: 15px;
  font-size: clamp(1.2rem, 4vw, 1.5rem);
}

p {
  font-size: 0.9rem;
  opacity: 0.8;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: rgba(181, 197, 184, 0.3);
  border-radius: 10px;
  margin: 16px 0;
  cursor: pointer;
}

.progress {
  width: 0%;
  height: 100%;
  background: #06e169;
  border-radius: 10px;
  transition: width 0.2s linear; /* smooth increase */
}


.controls {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: clamp(1.5rem, 5vw, 2rem);
  cursor: pointer;
}

/* PLAYING STATE */
.player.playing {
  box-shadow: 0 0 25px rgba(0, 255, 200, 0.6);
}

/* PLAY BUTTON GLOW */
.player.playing .controls .play {
  color: #00ffc8;
  text-shadow: 0 0 15px #00ffc8;
}

/* ALBUM ROTATION */
.player.playing img {
  animation: spin 6s linear infinite;
}

/* ROTATION KEYFRAMES */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

